# Environment files
.env
*.env
.env*

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Optional: VS Code settings
.vscode/